[submodule "docfx/help-repos/pnp-powershell"]
	path = docfx/help-repos/pnp-powershell
	url = https://github.com/pnp/powershell.git
[submodule "docfx/help-repos/cli-microsoft365"]
	path = docfx/help-repos/cli-microsoft365
	url = https://github.com/pnp/cli-microsoft365.git
[submodule "docfx/help-repos/OfficeDocs-SharePoint-PowerShell"]
	path = docfx/help-repos/OfficeDocs-SharePoint-PowerShell
	url = https://github.com/MicrosoftDocs/OfficeDocs-SharePoint-PowerShell.git
