
.sampletype-item.sharepoint {
    background-image: url(../assets/icons/custom/sharepoint.svg);
}
.sampletype-item.teams {
    background-image: url(../assets/icons/custom/teams.svg);
}
.sampletype-item.todo {
    background-image: url(../assets/icons/custom/todo.svg);
}
.sampletype-item.azuread {
    background-image: url(../assets/icons/custom/aad.svg);
}
.sampletype-item.powerautomate {
    background-image: url(../assets/icons/custom/powerautomate.svg);
}

/* card circle */
.sample-details .producttype-item.sharepoint {
    background-image: url(../assets/icons/sharepoint.svg);
}

.sample-details .producttype-item.teams {
    background-image: url(../assets/icons/teams.svg);
}

.sampletype-item.graph,
.sampletype-item.graph-powershell,
.sample-details .producttype-item.graph-powershell,
.sample-details .producttype-item.graph {
    background-image: url(../assets/icons/custom/graph.svg);
}

.sampletype-item.pnp-powershell,
.sample-details .producttype-item.pnp-powershell {
    background-image: url(../assets/icons/custom/pnp-ps.svg);
}

.sampletype-item.cli-for-microsoft365,
.sample-details .producttype-item.cli-for-microsoft365 {
    background-image: url(../assets/icons/custom/pnp-cli.svg);
}

.sampletype-item.powershell,
.sample-details .producttype-item.powershell {
    background-image: url(../assets/icons/custom/powershell.svg);
}

.sampletype-item.spo-management-shell,
.sample-details .producttype-item.spo-management-shell {
    background-image: url(../assets/icons/custom/sharepoint.svg);
}

.sampletype-item.azure-cli,
.sample-details .producttype-item.azure-cli {
    background-image: url(../assets/icons/custom/azure.svg);
}

.sampletype-item.microsoftwhiteboardadmin,
.sample-details .producttype-item.microsoftwhiteboardadmin {
    background-image: url(../assets/icons/custom/whiteboard.svg);
}

.sampletype-item.powerapps,
.sampletype-item.powerapps-powershell,
.sampletype-item.powerapps-ps,
.sample-details .producttype-item.powerapps-powershell,
.sample-details .producttype-item.powerapps-ps {
    background-image: url(../assets/icons/custom/powerapps.svg);
}

.sampletype-item.microsoftteams-powershell,
.sample-details .producttype-item.microsoftteams-powershell {
    background-image: url(../assets/icons/custom/microsoftteams-powershell.png);
}

/* Data driven backgrounds */
.sample-thumbnail[data-products^="sharepoint"] .sample-preview{
    background: rgb(237,237,237);
    background: linear-gradient(90deg, rgba(237,237,237,1) 0%, rgba(5,143,146,1) 77%);
    
    /* background-image: url(../assets/icons/custom/sharepoint.svg);
    background-size: 100px;
    background-position: 10px 10px;
    background-repeat: no-repeat; */
}

.sample-thumbnail[data-products^="teams"] .sample-preview{

    background: rgb(237,237,237);
    background: linear-gradient(90deg, rgba(237,237,237,1) 0%, rgba(57,64,171,1) 77%);

    /* background-image: url(../assets/icons/custom/teams.svg);
    background-size: 500px;
    background-position: -110px -110px;
    background-repeat: no-repeat; */
}

.sample-thumbnail[data-products^="graph"] .sample-preview {

    background: rgb(237,237,237);
    background: linear-gradient(90deg, rgba(237,237,237,1) 0%, rgba(43,124,210,1) 77%);

    /* background-image: url(../assets/icons/custom/graph.svg);
    background-size: 300px;
    background-position: -73px -27px;
    background-repeat: no-repeat; */
}

.sample-thumbnail[data-products^="azure ad"] .sample-preview,
.sample-thumbnail[data-products^="azuread"] .sample-preview {

    background: rgb(237,237,237);
    background: linear-gradient(90deg, rgba(237,237,237,1) 0%, rgba(84,174,240,1) 77%);

    /* background-image: url(../assets/icons/custom/aad.svg);
    background-size: 300px;
    background-position: -82px -14px;
    background-repeat: no-repeat; */
}

.sample-thumbnail[data-products^="power automate"] .sample-preview,
.sample-thumbnail[data-products^="powerautomate"] .sample-preview {
    
    background: rgb(237,237,237);
    background: linear-gradient(90deg, rgba(237,237,237,1) 0%, rgba(17,82,212,1) 77%);

    /* background-image: url(../assets/icons/custom/powerautomate.svg);
    background-size: 311px;
    background-position: -76px -32px;
    background-repeat: no-repeat; */
}

.sample-thumbnail[data-products^="office"] .sample-preview {
    /* background-image: url(../assets/icons/custom/office.svg);
    background-size: 400px;
    background-position: -51px -77px;
    background-repeat: no-repeat; */

    background: rgb(237,237,237);
    background: linear-gradient(90deg, rgba(237,237,237,1) 0%, rgba(226,92,1,1) 77%);
}

.sample-thumbnail[data-products^="microsoft todo"] .sample-preview, 
.sample-thumbnail[data-products^="microsoft to do"] .sample-preview, 
.sample-thumbnail[data-products^="todo"] .sample-preview {

    background: rgb(237,237,237);
    background: linear-gradient(90deg, rgba(237,237,237,1) 0%, rgba(41,135,230,1) 77%);

    /* background-image: url(../assets/icons/custom/todo.svg);
    background-size: 350px;
    background-position: -73px -24px;
    background-repeat: no-repeat; */
}

.sample-thumbnail[data-products^="powerapps"] .sample-preview,
.sample-thumbnail[data-products^="power apps"] .sample-preview {
    background: rgb(237,237,237);
    background: linear-gradient(90deg, rgba(237,237,237,1) 0%, rgba(222,126,194,1) 77%);
}


/* //Data driven backgrounds */

/* GitHub Facts Implementation */

/* horizontal bullet list */
.github-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.github-icon{
    margin-right: 10px;
}
.github-icon img{
    height: 40px;
}
.github-mark a,
.github-mark a:hover,
.github-mark a:visited{
    color: white;
}

ul.github-facts {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

    color: rgb(237,237,237);
}

ul.github-facts li {
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
    line-height: 1.5;
    font-size: 12px;
    text-align: left;
    color: rgb(237,237,237);
}

.github-repository{
    font-size: 18px;
    margin: 5px 10px 0 0;
}