
.sampletype-item.sharepoint {
    background-image: url(../assets/icons/sharepoint.svg);
}

/* card circle */
.sample-details .producttype-item.sharepoint {
    background-image: url(../assets/icons/sharepoint.svg);
}

.sample-details .producttype-item.graph {
    background-image: url(../assets/icons/graph-powershell.svg);
}
