name: Generate Site
on: 
  push:
    branches:
      # Only update docs for main branch pushes
      - main
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  docfx:
    # The type of runner that the job will run on
    # Note temporary patch - https://github.com/actions/runner-images/issues/10636
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # prevent parallel executions
    - name: Wait for actions to finish
      uses: softprops/turnstyle@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}    
    # Checks-out main branch
    - name: Checkout main branch
      uses: actions/checkout@v4
      with: 
        ref: main
        path: main
    # Checks-out gh-pages branch
    - name: Checkout gh-pages branch
      uses: actions/checkout@v4
      with: 
        ref: gh-pages
        path: gh-pages
    # Install .NET SDK (if not already available) and DocFx as a dotnet tool
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.x'
    - name: Install DocFx
      run: |
        cd main
        dotnet tool restore
    # Build docs
    - name: Build docs
      shell: pwsh
      run: |
        ./main/docfx/build.ps1
    # Add, commit and push the changes
    - name: Add & Commit & Push
      uses: EndBug/add-and-commit@v6
      with:
        # The directory where your repository is located. You should use actions/checkout first to set it up
        cwd: ./gh-pages
        branch: gh-pages
        push: true
        token: ${{ secrets.GITHUB_TOKEN }}
